html {
  font-size: 10px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-div {
  background: white;
  padding: 15px;
  margin: 0;
}

#img-caption {
margin: 15px 0 5px 0;
}

main {
  font-size: 20px;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;

}

li {
  margin: 16px 0;
}

body {
  font-family: 'Trebuchet MS';
  text-align: center;
  
}

a { color: aqua;}
a:visited {color: burlywood;}

main{
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: gray;
}